.container{
    height : 2000px;
    width : 800px;
    border : 2px black double;
    margin-left : 20%;
}

.heading{
    padding-left: 100px;
}

.details{
    padding-left: 30px;
    padding-right: 400px;
}

.photo{
    height: 120px;
    width: 120;
    border: 2px solid green;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 30px;
}

.information{
    display: flex;
    flex-direction: row;
}

.titles{
    padding-left: 30px;
}
.coloured_p{
    padding-bottom: 0; 
    color:#33687c; 
    margin-bottom: 10px;
}

ul{
    margin-top: 0;
    padding-top: 0;
    padding-left: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-right: 10px;
}

hr{
    height: 1px;
    color:#33687c; 
    background: #33687c;
    font-size: 0;
    border: 0;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}

table ,td{
    border: 1px black solid;
}

table{
    border-collapse: collapse;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

td{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.titles h4{
    margin: 0;
}

.date{
    padding-top: 150px;
    padding-left: 50px;
}

.place{
    padding-left: 50px;
    padding-right: 450px;
}

.name{
    margin-right: 30px;
}

.footer{
    display: flex;
    flex-direction: row;
}